.itemicon {
    padding: 20px 10px;
}

mat-progress-bar {
    margin-top: 2px;
}


.itemicon.cooked {
            animation: shake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s infinite both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
  }

@keyframes shake {
    50% {
        transform: translate3d(0, 0, 0); /*pause*/
    }

    55%, 95% {
              transform: translate3d(-1px, 0, 0);
    }
    60%, 90% {
              transform: translate3d(2px, 0, 0);
    }
    65%, 75%, 85% {
              transform: translate3d(-4px, 0, 0);
    }
    70%, 80% {
              transform: translate3d(4px, 0, 0);
    }
}

  